<div ng-controller="HomeCtrl">
	<h2 class="page-header">首页</h2>

	{{events}}
	<div class="row">
		<div class="col-md-8">
			<div class="btn-toolbar" style="margin-bottom:15px;">
				<div class="btn-group">
					<button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">本周</button>
					<button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">本月</button>
				</div>
			</div>
			<div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>

		</div>
		<div class="col-md-4">
			<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
				<h4>{{alertMessage}}</h4>
			</div>
		</div>
	</div>
</div>