.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 300px
}
.container-fluid{
  height: inherit;

}
.container-fluid .row{
  height: inherit;

}

/**
 * ************************************************************************************************
 *                                            页面切换动画
 * ************************************************************************************************
 */
.page {
	-webkit-transition: all  .6s;
    -o-transition: all  .6s;
    transition: all  .6s;
}


.page.ng-enter,
.page.ng-leave{
    opacity:0;
    transform: translate(0,20px);
}

.page.ng-enter-active{
    opacity:1;
    transform: translate(0,0);
}
/**
 * ************************************************************************************************
 *                                            顶部导航
 * ************************************************************************************************
 */

@media (min-width: 768px) {
    .navbar-header{
        width: 205px;
    }
    a.feedback{
        display: inline-block;
        padding: 5px;
        border: 1px solid #fff;
        font-size: 14px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-top: 9px;
    }

}

.f-msg{

}
.f-msg .f-msg-item{
  border-bottom: 1px solid #e5e5e5;

}
.f-msg .f-msg-item a{
  padding: 8px 20px;
}
.f-msg .f-msg-item h4{
  color: #555;
  font-size: 20px;
  text-align: center;
  display: block;
} 
.f-msg-blug{
  position: relative;
}
.f-msg-blug:after{
  content: attr(data-blug);
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #EE3D3D;
  text-align: center;
  color: #fff;
}

/**
 * ************************************************************************************************
 *                                            侧边菜单 menu
 * ************************************************************************************************
 */
.menu-home:link{
  color: #D8D9DB;
}
.menu-home:hover,
.menu-home:focus{
  color: #1797BE;
}
.menu-default {
  border:0;
  background-color: #3A3F51;
}
.menu-default:first-child{
  margin-top: 20px;
}
.menu-default  h4 > a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #D8D9DB;
  font-size: 14px;
}
.menu-default  h4 > a:hover,
.menu-default  h4 > a:focus {
  color: #1797BE;
}
.menu-default  h4 > a:focus {
  outline: none;
}
.menu-default .panel-heading{
  padding: 0 20px 0 41px;
  border-radius: 0;
  background-color: #3A3F51;
}
.menu-default .panel-heading i{
  display: inline-block;
  width: 2em;
  font-size: 18px;
  line-height: 1;
  position: relative;
}
.menu-default .panel-body{
    border: 0 !important;
    padding: 0;
    background-color: #4B4D5D;
}

/* Sidebar navigation */
.nav-sidebar {
  margin: 10px 0;
}
.nav-sidebar > li{
  padding-left: 21px;
}
.nav-sidebar > li > a {
  display: block;
  padding-left: 60px;
  color: #D8D9DB;
  letter-spacing: .025em;
}
.nav-sidebar > li > a i{
  display: inline-block;
  width: 2em;
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: 3px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
   color: #1797BE;
   background-color: #4B4D5D;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #1797BE;
}

@media (max-width: 768px) {
  .f-aside {
    position: fixed;
    // left: 0;
    top: 50px;
    display: block;
    z-index: 1040;
    background-color: #3A3F51;
    width: 200px;
    height: 100%;
  }
  .aside-show{
    left: 0;
  }
  .aside-hide{
    left: -200px;
  }
  .navbar-toggle{
    float: left;
    margin-left: 15px;
    margin-right: 0;
    border: 0;

  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #5d9cec;
}
  .f-self{
    float: right;
  }
  .f-self a{
    display: inline-block;
    margin-right: 25px;
    margin-top: 12px;
  }
}

/**
 * ************************************************************************************************
 *                                            客户页面
 * ************************************************************************************************
 */

.label{
  display: inline-block;
  margin-bottom: 3px;
}
.cus-star{
  color: #F0AD4E;
  font-size: 18px;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 5px;
}
.cus-item{
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top:12px;
  background-color: #fff;
  box-shadow: 0 0 1px #ccc,2px 2px 4px #ddd;
}

.fade-pin {
    opacity: 1;
}
.fade-pin.ng-enter {
    -webkit-transition: all .3s .3s;
    transition: all .3s .3s;
    opacity: 0;
}
.fade-pin.ng-enter-active {
    opacity: 1;
}
.fade-pin.ng-leave {
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 1;
}
.fade-pin.ng-leave-active {
    opacity: 0;
}


/*客户详情页*/
/* 通用边框 */
.cus-border{
	padding: 30px 20px 20px 20px;
	position: relative;
	margin-bottom: 30px;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: 0 0 1px #ccc,2px 2px 4px #ddd;
}
.cus-txt{
	position: absolute;
	top: -20px;
	left: 15px;
	display: inline-block;
	width: 105px;
	background-color: #fff;
  box-top: 1px solid #ccc;
}
.cus-txt h4{
	text-align: center;
}
/* tab 切换*/
.tab-pane.am-fade {
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  opacity: 1;
}

.tab-pane.am-fade.active-remove {
  display: none !important;
}

.tab-pane.am-fade.active-add {
  animation-name: fadeIn;
}
.nav-tabs{
  font-size: 14px;
}
/* message */
.msg-btn{
	position: absolute;
	right: 30px;
	top: 20px;
	cursor: pointer;
}
.msg-btn .fa-check{
	color: #27C24C;
}
/*联系人*/
.cus-people{
	border: 2px dashed #ccc;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding:20px;
  z-index: 100;
}
.cus-btn{
	position: absolute;
	right: 3px;
	top: 100px;
}
.cus-btn .dis,
.cus-btn .add,
.cus-btn .del{
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	margin-top: -20px;
}
.cus-btn .del,
.cus-btn .add{
	margin-top: 50px;
}
.cus-btn .col{
	font-size: 28px;
	position: absolute;
	right: 40px;
	top: -60px;
	cursor: pointer;
  color: #FBBD08;
}
.cus-btn .fa-check{
	background-color: #27C24C;
}

/* 日程 */
.cus-sche{
	padding: 20px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
}
.sche-add{
	text-align: center;
	cursor: pointer;
}
/* 商机 */
.cus-business{
	padding: 20px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}
/**
 * ************************************************************************************************
 *                                            线索和客户列表页面
 * ************************************************************************************************
 */
.h-sort{
  cursor: pointer;
}
/**
 * 提示框
 */
.alert{
    position: fixed;
    right: 10px;
    top: 62px;
}
.alert .close{
  margin-top: -4px;
  margin-left: 10px;
}
.alert-info{
  background-color: #F88E8B;
  border: 0;
  border-radius: 1px;
  box-shadow: 0 0 1px #ccc,2px 2px 4px #ddd;
  color: #fff;
  min-width: 120px;
}
.alert-info button{
  color: #fff;
  opacity: 1;
  text-shadow:none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.alert-info button:hover{
  color: #eee;
  font-weight: normal;
}
.alert-info strong{
  font-weight: normal ;
}
/**
 * ************************************************************************************************
 *                                            线索和客户列表页面
 * ************************************************************************************************
 */

/*顶部显示选择框*/
.select-h{
  width: 100%;
  height: 0px;
  background-color: #3A3F51;
  color: #fff;
  position: fixed;
  left: 0;
  top: -51px;
  z-index: 2000;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}
.select-h-active{
  height: 51px;
  top: 0;
}
.select-h-close{  
  top:-51px;
  height: 0;
  overflow: hidden;
}
.select-h p{
  height: 50px;
  line-height: 50px;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
.select-h p > a{
  color: #fff;
}
.select-h p > a:hover{
  color: #23B7E5;
}
.select-h .dropdown-menu{
  top: 49px !important;
  left:-58px !important;
}
.top-icon{
  position: relative;
  top: 2px;
  margin-right: 10px;
  font-size: 20px;
}
.top-change{
  height: 50px;
  line-height: 50px !important;
}
.top-change a{
  color:#fff;
  cursor:pointer
}
.top-change a:hover{
  color:#23B7E5;
}
/* 栏目右侧按钮*/
.cus-ctrl a{
  color: #555;
}
.cus-ctrl a:hover{
  color: #23B7E5;

}
.rotate-45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cus-ctrl a:nth-of-type(1) > i.rotate-45{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cus-ctrl a:nth-of-type(1):hover > i.rotate-45{
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0)
}
/* 固定按钮 */
.pin-show,
.pin-hide,
.border-radius{
  border-radius: 50%;

}
.pin-icon{
    color: #23B7E5;
}
.unpin-icon{
  color: #555;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pin-show{
  display: inline-block;
}
.pin-hide{
  display: none;
}
/*单个移动分组*/
.per-froup{
  top:24px !important;
  left:-110px !important;
}

/**
 * ************************************************************************************************
 *                                            客户设置页面
 * ************************************************************************************************
 */
.set-btn-add{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #F05050;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.set-btn-add i{
  margin-top: 8px;
}
.group-icon.fa-check,
.tag-icon.fa-check{
  color: #27C24C;
}
.set-tag{
  display: block;
  min-width: 20px;
  height: 20px;
  margin-right: 13px;
}
.set-tag-success{
  background-color: #27C24C;
}
.set-icon{
  font-size: 18px;
  margin-top: 9px;
}
.list-group-item{
  border:0;
  box-shadow: 0 0 1px #bbb,2px 2px 4px #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

/**
 * ************************************************************************************************
 *                                            添加产品页面
 * ************************************************************************************************
 */
.pro-wrap{
  background-color: #fff;
  box-shadow: 0 0 1px #bbb,2px 2px 4px #ddd;
  margin-bottom: 20px;
  padding: 20px 30px;
}
.pro-show{
  display: inline-block;
}
.pro-hide{
  display: none;
}


/**
 * ************************************************************************************************
 *                                            报价单页面
 * ************************************************************************************************
 */

.qua-pro-item{
  // background-color: #f6f6f6;
  padding:20px;
  // border:1px solid #ccc;
  box-shadow: 0px 0px 2px #ccc,3px 3px 4px #eee;
}

/**
 * ************************************************************************************************
 *                                            个人设置
 * ************************************************************************************************
 */
.set-item > p{
  margin-bottom: 7px;
}
.set-input{
  display: inline-block;
  width: 60%;
  padding-top: 0;
  padding-bottom: 0;
}

/**
 * ************************************************************************************************
 *                                            额外调整css
 * ************************************************************************************************
 */
 /* 添加内部标签 */
.inl-add{
  position: absolute;
  right: -18px;
  top: 0px;
  cursor: pointer;
  display: block;
  padding: 10px;
}
/*下拉列表*/

.dropdown-menu{
  max-height: 305px;
  overflow: auto;
}

/*  产品图片上传 */
.show-img {
  position: relative;
  height:140px;
  background-color: #fff;
  overflow:hidden;
  box-shadow: 0 0 8px #ccc,4px 4px 8px #bbb;
  margin-bottom:20px;
}
.show-img img{
  width: 100%;
}

.show-img .btn{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  outline: none;
}
/*  报价单 */
.dw-quo{
  display: inline-block;
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 20px 5px 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.dw-quo i{
  position: absolute;
  right: 5px;
  top: 5px;
}

/**
 * ************************************************************************************************
 *                                           首页 日历
 * ************************************************************************************************
 */
.fc-toolbar {
  background-color: #5D9CEC;
    margin-bottom: 0;
    padding: 8px 20px 12px 20px;
    color: #fff;
}
.fc-toolbar h2{
  font-size: 18px;
  margin-top: 8px;
}
.fc-basic-view .fc-body .fc-row{
  min-height: 115px;
  height: 120px;
}
.fc-scroller.fc-day-grid-container{
  overflow-x: inherit !important;
    overflow-y: inherit !important;
    height: inherit !important;
}
th.fc-day-header.fc-widget-header{
  height: 36px;
  vertical-align:middle;
  font-weight: 300;
}
.fc-basic-view td.fc-day-number{
  padding-top: 10px;
  padding-right: 10px;
  font-size: 16px;
}
.fc-day-grid-event {
    margin: 3px 3px 0px;
    padding: 3px 4px;
    border-radius: 0;
}
.fc-event{
  border: 1px solid #5D9CEC;
  background-color: #5D9CEC;
  cursor: pointer;
}
.fc-unthemed .fc-today{
  background-color: #E5FFFF;
  color: #5D9CEC;
    font-size: 20px !important;
}
.fc-right {
  margin-top: 6px;
}
.fc-right button.fc-button{
  border-radius: 0;
  outline: none;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  text-shadow: none;
}
.fc button .fc-icon {
    margin-top: -3px;
}
.sche-tag{
  float: right;
}
.sche-tag .sche-cust,
.sche-tag .sche-clue{
  display: inline-block;
  position: relative;
  margin-right: 28px;
  margin-top: 10px;
  font-size: 14px;
}
.sche-tag .sche-cust:before,
.sche-tag .sche-clue:before{
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 5px;
}
.sche-tag .sche-cust:before{
  background-color: #5D9CEC;
}
.sche-tag .sche-clue:before{
  background-color: #27C24C;
}
.sche-msg{
  
}
.sche-msg .msg-head{
  background-color: #5D9CEC;
  padding: 16px 20px;
  margin-top: 49px;
}
.sche-msg .msg-head h2{
  font-size: 18px;
  color: #fff;
  padding: 0;
  margin: 0;
}
.sche-msg .msg-head h2 small{
  color: #fff;
}
.sche-msg .msg-body{
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  min-height: 154px;
  line-height: 1.8em;
}

@media (max-width: 768px) {
   .fc-basic-view .fc-body .fc-row{
      min-height: 50px;
      height: inherit;
    }

}

/**
 * ************************************************************************************************
 *                                          时间选择
 * ************************************************************************************************
 */

a.time-select{
  color: #333;
}
a.time-select:hover{
  color:#333;
}
.time-text,
.time-date,
.time-time{
  text-align: center;
  line-height: 1.65em;
}
.time-select .time-text{
  font-size: 14px;
}
.time-select .time-date{
  font-size: 20px;
}
.time-select .time-time{
  font-size: 32px;

}
.time-select-d{
  border-bottom: 1px solid #ccc;
}

.time-select-d .time-text{
  font-size: 14px;
}
.time-select-d .time-date{
  font-size: 18px;
}
.time-select-d .time-time{
  font-size: 26px;

}







