doctype html(lang='en')
html
  head
      title 呐呐CRM客户关系管理系统-添加域名
      meta(charset='utf-8')
      |     
      meta(name='viewport', content='width=device-width, initial-scale=1')
      |     
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      |     
      link(rel='stylesheet', href='../backend/libs/bootstrap/dist/css/bootstrap.min.css')
      |     
      link(rel='stylesheet', href='../backend/css/signup.css')
    body
      canvas#Mycanvas
      .container
        .row
          .sign-wrap
            form#f-domain
              //- method="POST", action="/domain/addctrl"
              h2 添加域名
              h3 您需要添加您的个性域名，在浏览器输入  yourdomain.nanacrm.com 就能访问了。                                   
              .form-group.add-input                
                input#inputEmail.form-control(name="domain[name]",type='text', placeholder='yourdomain', required='', autofocus='')                    
                h3 .nanacrm.com
              .form-group
                div#f-alert.alert.alert-danger(role="alert")            
              .form-group.mt-20
                button.btn.btn-lg.btn-primary.btn-block(type='submit') 添加
        .footer
          .text-center © 2016 呐呐科技 
      script(src='../backend/js/line.js')
      script(src="../backend/libs/jquery/dist/jquery.min.js")
      script(src='../backend/js/domainverify.js')
