doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    |     
    link(rel='stylesheet', href='backend/libs/bootstrap/dist/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='backend/css/signup.css')
  body
    canvas#Mycanvas
    .container
      .row
        .sign-wrap
          form(method="POST", action="/user/signup")
            h2 呐呐科技
            h3 极致的产品，永远不缺乏订单
            |                     
            .form-group
              label.sr-only(for='inputName') 姓名
              |                         
              input#inputName.form-control(name="user[name]",type='text', placeholder='姓名', required='', autofocus='')
              |                         
              span.name
            |                     
            .form-group
              label.sr-only(for='inputPhone') 手机号
              |                         
              input#inputPhone.form-control(name="user[phone]",type='text', placeholder='手机号', required='')
              |                         
              span.phone
            |                     
            .form-group
              label.sr-only(for='inputEmail') 邮箱
              |                         
              input#inputEmail.form-control(name="user[email]",type='email', placeholder='邮箱地址', required='', autofocus='')
              |                         
              span.email
            |                     
            .form-group
              label.sr-only(for='inputPassword') 密码
              |                         
              input#inputPassword.form-control(name="user[password]",type='password', placeholder='密码', required='')
              |                         
              span.password
            |                    
            .form-group.mt-20
              button.btn.btn-lg.btn-primary.btn-block(type='submit') 注册
      .footer
        .text-center
          © 2016 呐呐科技    
  script(src='backend/js/line.js')
