doctype 
html
head
    title 呐呐CRM客户关系管理系统-激活成功
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    |     
    link(rel='stylesheet', href='../backend/libs/bootstrap/dist/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='../backend/css/signup.css')
  body
    canvas#Mycanvas
    .container
      .row
        .sign-wrap
          h2 重置密码成功
          h3
            span#f-time 3 
            秒后，即将跳转到登录页.
          a(href="/#/index") 跳转至登录页

      .footer
        .text-center © 2016 呐呐科技 
    script(src='../backend/js/line.js')
    script(src='../backend/js/success.js')

