doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    |     
    link(rel='stylesheet', href='backend/libs/bootstrap/dist/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='backend/css/signup.css')
  body
    canvas#Mycanvas
    .container
      .row
        .sign-wrap
            h2 注册成功
            h3 CRM Beat 版本将在 
              span.red 8月15日 
              正式上线 
            p 恭喜您成为呐呐CRM 
              span.red 种子用户，
              br
              享有各种定制化服务特权  !
              br
              并且获得价值  
              span.red 1000元 
              的建站大礼包  ！
      .footer
        .text-center
          © 2016 呐呐科技 
  script(src='js/line.js')
